<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stepbook.infrastructure.mapper.AdvertisementMapper">

    <select id="findAdsDtos" resultType="com.stepbook.domain.ads.dto.AdvertisementDto">
        select a.*, b.book_name, b.cover_img book_img, b.introduction book_introduction, b.author book_author
        from step_advertisement a
        inner join step_book b
        on a.book_id = b.id
        where 1 = 1
        <if test="adsType != null">
            and a.ads_type = #{adsType}
        </if>
    </select>
    <select id="findAdsDtoById" resultType="com.stepbook.domain.ads.dto.AdvertisementDto">
        select a.*, b.book_name, b.cover_img book_img, b.introduction book_introduction, b.author book_author
        from step_advertisement a
        inner join step_book b
        on a.book_id = b.id
        where a.id = #{id}
    </select>
</mapper>