<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.book.mapper.BookMapper">
    <resultMap id="bookResultMap" type="net.stepbooks.interfaces.admin.dto.BookDto">
        <result column="classifications" property="classifications" typeHandler="org.apache.ibatis.type.ArrayTypeHandler"/>
    </resultMap>
    <select id="findAllByCriteria" resultMap="bookResultMap">
        select b.*,
            (select array_remove(array(select sc.classification_name from step_classification sc
                    right join step_book_classification_ref bcr
                    on b.id = bcr.book_id
                    and sc.id = bcr.classification_id ), null)) classifications,
            (select count(1) from step_book_chapter bc where bc.book_id = b.id) chapter_count,
            (select count(1) from step_course co where co.book_id = b.id) course_count
        from step_book b
        where 1=1
        <if test="bookName != null">
            <bind name="pattern" value="'%' + bookName + '%'"/>
            AND b.BOOK_NAME ILIKE #{pattern}
        </if>
        <if test="author != null">
            <bind name="pattern" value="'%' + author + '%'"/>
            AND b.AUTHOR ILIKE #{pattern}
        </if>
        order by b.modified_at desc
    </select>
    <select id="findClassificationsByBookId"
            resultType="net.stepbooks.domain.classification.entity.Classification">
        select sc.* from step_classification sc
            right join step_book_classification_ref bcr
            on sc.id = bcr.classification_id
        where bcr.book_id = #{bookId}
    </select>
    <select id="findBookById" resultMap="bookResultMap">
        select b.*,
            (select array_remove(array(select sc.classification_name from step_classification sc
                    right join step_book_classification_ref bcr
                    on b.id = bcr.book_id
                    and sc.id = bcr.classification_id ), null)) classifications,
            (select count(1) from step_book_chapter bc where bc.book_id = b.id) chapter_count
        from step_book b
        where b.id = #{bookId}
    </select>
    <select id="findBooksByProductId" resultType="net.stepbooks.domain.book.entity.Book">
        select b.* from step_book b
        left join step_book_set_book_ref bsb on bsb.book_id = b.id
        left join step_product p on p.book_set_id = bsb.book_set_id
        where p.id = #{productId}
    </select>
</mapper>