<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.bookshelf.mapper.BookshelfAddLogMapper">
    <select id="selectBookshelfAddLogByUserId"
            resultType="net.stepbooks.interfaces.client.dto.BookshelfAddLogDto">
        select bdl.*, bsb.book_id, bk.book_name, bk.book_img_url
        from STEP_BOOKSHELF_ADD_LOG bdl
        left join STEP_BOOK_SET_BOOK_REF bsb on bdl.book_set_id = bsb.book_set_id
        left join STEP_BOOK bk on bk.id = bsb.book_id
        where bdl.USER_ID = #{userId}
        <if test="keyword != null and keyword != ''">
            and (bk.book_name like concat('%', #{keyword}, '%'))
        </if>
    </select>
</mapper>