<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbook.domain.book.mapper.CategoryMapper">
    <select id="findCategoriesByBookId"
            resultType="net.stepbooks.domain.tag.entity.CategoryEntity">
        select c.* from STEP_CATEGORY c
        inner join STEP_BOOK_CATEGORY_REF cf
        on c.ID = cf.CATEGORY_ID
        WHERE cf.BOOK_ID = #{bookId}
    </select>
</mapper>