<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.course.mapper.CourseMapper">
    <select id="findCoursesByProductId" resultType="net.stepbooks.domain.course.entity.Course">
        select c.* from step_course c
        left join step_book_set_book_ref bsb on c.book_id = bsb.book_id
        left join step_product p on p.book_set_id = bsb.book_set_id
        where p.id = #{productId}
        order by c.created_at asc
    </select>
    <select id="getCourseAndMediaById" resultType="net.stepbooks.interfaces.client.dto.CourseDto">
        select c.*, m.object_key as video_object_key from step_course c
        left join step_media m on c.video_id = m.id
        where c.id = #{courseId}
    </select>
</mapper>