<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.courses.course.mapper.CourseMapper">
    <select id="findCoursesByProductId" resultType="net.stepbooks.interfaces.client.dto.CourseDto">
        select c.*, bk.book_name from step_course c
        left join STEP_PRODUCT_COURSE_REF pc on c.id = pc.course_id
        left join step_book bk on bk.id = pc.book_id
        where pc.product_id = #{productId}
        order by c.created_at asc
    </select>
    <select id="getCourseAndMediaById" resultType="net.stepbooks.interfaces.client.dto.CourseDto">
        select c.*, m.object_key as video_object_key from step_course c
        left join step_media m on c.video_id = m.id
        where c.id = #{courseId}
    </select>
</mapper>