<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.order.mapper.OrderInventoryLogMapper">
    <select id="findInPagingByCriteria" resultType="net.stepbooks.interfaces.admin.dto.OrderInventoryLogDto">
        select il.*, p.sku_name from step_order_inventory_log il left join step_product p on il.product_id = p.id
        where 1=1
        <if test="skuCode != null">
            and il.sku_code = #{skuCode}
        </if>
        <if test="orderCode != null">
            and il.order_code = #{orderCode}
        </if>
        order by il.created_at desc
    </select>
</mapper>