<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.order.mapper.OrderMapper">
    <select id="findByCriteria" resultType="net.stepbooks.interfaces.admin.dto.OrderInfoDto">
        select o.*, u.username, u.nickname from step_order o
        left join step_user u
        on o.user_id = u.id
        where 1 = 1
        <if test="orderCode != null">
            and o.order_code = #{orderCode}
        </if>
        <if test="username != null">
            and exists (select 1 from step_user u1 where u1.username = #{username} and o.user_id = u1.id)
        </if>
        order by o.modified_at desc
    </select>
    <select id="findPageByUser" resultType="net.stepbooks.interfaces.admin.dto.OrderInfoDto">
        select o.* from step_order o
        where o.user_id = #{userId}
        order by o.created_at desc
    </select>
    <select id="findOrderProductByUserIdAndProductIds"
            resultType="net.stepbooks.domain.product.entity.Product">
        select p.* from step_order o
        left join step_order_product op on o.id = op.order_id
        left join step_product p on op.product_id = p.id
        where o.user_id = #{userId} and op.product_id in
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </select>
</mapper>