<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.order.mapper.OrderProductMapper">
    <select id="findProductDetailsByOrderId" resultType="net.stepbooks.interfaces.admin.dto.OrderProductDto">
        select p.*, op.product_id, op.quantity, op.order_id from step_order_product_ref op
        left join step_product p on op.product_id = p.id
        where op.order_id = #{orderId}
    </select>
    <select id="findPageByUser" resultType="net.stepbooks.interfaces.admin.dto.OrderInfoDto">
        select o.* from step_order o
        where o.user_id = #{userId}
        order by o.created_at desc
    </select>
    <select id="findProductsDetailsByOrderIds" resultType="net.stepbooks.interfaces.admin.dto.OrderProductDto">
        select p.*, op.product_id, op.quantity, op.order_id from step_order_product_ref op
        left join step_product p on op.product_id = p.id where 1=1
        <if test="orderIds != null and !orderIds.isEmpty()">
            and op.order_id in
            <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
                #{orderId}
            </foreach>
        </if>
    </select>
</mapper>