<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.pairedread.mapper.PairedReadCollectionUserMapper">

    <select id="selectCollectionByUserId"
            resultType="net.stepbooks.interfaces.client.dto.PairedReadCollectionInfoDto">
        SELECT
        rcu.user_id,
        rcu.collection_id,
        rc.cover_img_id,
        rc.cover_img_url,
        rc.name,
        rc.description
        FROM
        step_paired_read_collection_user rcu
        LEFT JOIN step_paired_read_collection rc ON
        rcu.collection_id = rc.id
        WHERE rcu.user_id = #{id}
    </select>
</mapper>