<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.product.mapper.ProductMapper">
    <select id="findProductsInPagingByCriteria" resultType="net.stepbooks.domain.product.entity.Product">
        select p.* from step_product p where 1=1
        <if test="storeType != null">
            AND p.store_type = #{storeType}
        </if>
        <if test="skuName != null">
            <bind name="pattern" value="'%' + skuName + '%'"/>
            AND p.sku_name ILIKE #{pattern}
        </if>
        <if test="tag != null">
            <bind name="pattern" value="'%' + tag + '%'"/>
            AND p.tags ILIKE #{pattern}
        </if>
        <if test="status != null">
            AND p.status = #{status}
        </if>
        order by p.sort_index desc
    </select>
    <select id="findRecommendProductsInPaging" resultType="net.stepbooks.domain.product.entity.Product">
        select distinct r.*
        from (select pr.id,pr.sku_code,pr.sku_name,pr.sales_platforms,pr.product_nature,
        pr.description,pr.price,pr.materials,pr.cover_img_id,pr.cover_img_url,
        pr.status,pr.created_at,pr.modified_at,pr.tags,pr.video_id,pr.video_url,
        pr.detail_img_id, ad.sort_index from step_product pr left join step_advertisement ad on pr.id = ad.product_id
        left join step_product_classification_ref pc on pr.id = pc.product_id
        left join step_classification cl on pc.classification_id = cl.id
        where pr.status = 'ON_SHELF' and COALESCE(ad.ads_type, 'RECOMMEND') = 'RECOMMEND'
        <if test="storeType != null">
            and pr.store_type = #{storeType}
        </if>
        <if test="maxAge != null and minAge != null">
            order by CASE WHEN cl.max_age &lt;= #{maxAge} or cl.min_age &gt;= #{minAge} THEN 1 ELSE 2 END
        </if>
        ) r order by r.sort_index asc
    </select>
    <select id="findProductsInPagingOrderByCreateTime"
            resultType="net.stepbooks.domain.product.entity.Product">
        select p.* from step_product p
        where p.status = 'ON_SHELF'
        <if test="storeType != null">
            and p.store_type = #{storeType}
        </if>
        order by p.created_at desc
    </select>
    <select id="findClassificationsByProductId"
            resultType="net.stepbooks.domain.classification.entity.Classification">
        select sc.* from step_classification sc
        right join step_product_classification_ref pc
        on sc.id = pc.classification_id
        where pc.product_id = #{productId}
    </select>
    <select id="findDefaultRecommendProductsInPaging" resultType="net.stepbooks.domain.product.entity.Product">
        select distinct r.*
        from (select pr.id,
                     pr.sku_code,
                     pr.sku_name,
                     pr.sales_platforms,
                     pr.product_nature,
                     pr.description,
                     pr.price,
                     pr.materials,
                     pr.cover_img_id,
                     pr.cover_img_url,
                     pr.status,
                     pr.created_at,
                     pr.modified_at,
                     pr.tags,
                     pr.video_id,
                     pr.video_url,
                     pr.detail_img_id,
                     ad.sort_index
              from step_product pr
                       left join step_advertisement ad
                                 on pr.id = ad.product_id
              where pr.status = 'ON_SHELF'
                <if test="storeType != null">
                    and pr.store_type = #{storeType}
                </if>
            ) r
        order by r.sort_index asc
    </select>
    <select id="findBookByProductId" resultType="net.stepbooks.domain.book.entity.Book">
        select b.* from step_book b
        right join step_product_book_ref pb
        on b.id = pb.book_id
        where pb.product_id = #{productId}
    </select>

</mapper>
