<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stepbook.infrastructure.mapper.PromotionMapper">

    <select id="findPromotions" resultType="com.stepbook.domain.price.dto.PromotionDto">
        select p.*, b.book_name, c.price original_coin_amount
        from novl_promotion p
        inner join novl_book b
        on p.book_id = b.id
        left join novl_price c
        on p.book_id = c.book_id
    </select>
    <select id="findPromotion" resultType="com.stepbook.domain.price.dto.PromotionDto">
        select p.*, b.book_name, c.price original_coin_amount
        from novl_promotion p
        inner join novl_book b
        on p.book_id = b.id
        left join novl_price c
        on p.book_id = c.book_id
        where p.id = #{id}
    </select>
</mapper>