<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.history.mapper.ReadingHistoryMapper">
    <select id="findBookLastChapterRecordByUser"
            resultType="net.stepbooks.interfaces.client.dto.ChapterWithHistoryDto">
        select c.*, h.paragraph_number from STEP_CHAPTER c
        inner join STEP_READING_HISTORY h
        on c.id = h.chapter_id
        where h.book_id = #{bookId}
        and h.user_id = #{userId}
    </select>
    <select id="findUserReadBooks" resultType="net.stepbooks.domain.book.entity.Book">
        select b.*, avg(r.rating) rating from STEP_READING_HISTORY h inner join STEP_BOOK b
        on h.book_id = b.id
        left join step_rating r on b.id = r.book_id
        where h.user_id = #{userId}
        group by b.id, h.created_at
        order by h.created_at desc
    </select>
</mapper>