<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.stepbooks.domain.history.mapper.ReadingHistoryMapper">
    <select id="getUserReportsByDay" resultType="net.stepbooks.interfaces.client.dto.LearnReportDto">
        select rh.created_at, rh.book_id, b.book_name, b.description book_description, b.book_img_id, b.book_img_url,
        rh.max_chapter_no, max(bc.chapter_no) total_chapter_no, sum(lt.duration) learn_duration
        from STEP_READING_HISTORY rh left join STEP_BOOK b on rh.book_id = b.id
        left join STEP_BOOK_CHAPTER bc on b.id = bc.book_id
        left join STEP_LEARN_TIME lt on b.id = lt.book_id and rh.user_id = lt.user_id
        where rh.user_id = #{userId}
        <if test="date != null">
            and rh.created_at = #{date}
        </if>
        <if test="date == null">
            and rh.created_at != #{today} and rh.created_at != #{yesterday}
        </if>
        group by rh.created_at, rh.book_id, b.book_name, b.description, b.book_img_id, b.book_img_url, rh.max_chapter_no
        order by rh.created_at desc
    </select>
</mapper>